<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/images/logo_cencosud.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
        <small id="emailHelp" class="form-text text-muted fadeIn second">We'll never share your email with anyone else.</small>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input (click)="onLogIn()" type="submit" class="fadeIn fourth" value="Ingresar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" class="form-footer">
        <a class="underlineHover" href="#">Olvidé mi contraseña <fa-icon [icon]="faFrown"></fa-icon></a>
      </div>
  
    </div>
  </div>